body {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: darkgrey;
    padding: 0 20px;
    border: 2px solid black;
    font-family: 'Times New Roman', Times, serif;
}

.titleesquerdo {
    display: flex;
    font-size: 40px;
}

.titledireito {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    font-size: 20px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 400px;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: darkgrey;
}
.texto-meio {
    display: flex;
    flex-direction: column;
    padding-left: 110px;
    font-size: 25px;
}

.logo {
    display: flex;
    width: 700px;
    height: 300px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.texto {
    display: flex;
    flex-direction: row;
    gap: 50px;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.borda, .borda1, .borda2, .borda3 {
    border: 2px solid blue;
    padding: 50px;
    margin: 10px;
    box-shadow: 3px 3px 10px black;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    width: 150px;
    height: 90px;
}

.curiosidades {
    display: flex;
    background-color: darkgrey;
    padding-left: 600px;
    padding-right: 600px; 
    height: 400px; 
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: column;
    background-color:aqua;
    align-items: center;
    margin-top: 100px;
    width: 800px;
    margin: 50px auto 0 auto;
    padding: 20px;
    border-radius: 300px;
}



